.encabezado{
    background-color: #286090;
    color: #fff;
    font-size: 20px;
    height: 30px;
}

.contenido{
    padding: 0px;
}

.pie{
    background-color: #9d9d9d;
    color: #fff;
    height: 155px;
    padding: 10px;
    text-align: center;
}